.none {
  font-family: serif;
}

.focus {
  animation: click 1s backwards;
}

@keyframes click {
  50% {
    background-color: greenyellow;
  }
}

div {
  width: 310px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 100px;
  width: 100px;
  font-size: x-large;
  font-family: serif;
  font-weight: 1000;
  background-color: black;
  color: greenyellow;
}

button:active {
  background-color: greenyellow;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-background div {
  background: rgba(255, 255, 255, 0.781);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
